<!DOCTYPE html>
<%= stylesheet_link_tag "application" %>
<html lang="en">

<head>
<meta charset="UTF-8" />
<meta name="viewport"
      content="width=device-width, 
               initial-scale=1.0" />
<title>About Sourcely</title>
</head>

<body class = "section">
<div class = "container-fluid">
<%= render 'layouts/navbar_not_index' %>
<div class="container-fluid col-md-10" style="background-color:#eaf3ff">
    <div class="col-lg-20">
    <br>
        <h1>About Sourcely</h1>
    </div>
    <div class="col-lg-16">
        <p>
            Sourcely is a tool that allows anyone to acquire a list of references from any Wikipedia page!</p>
        <p>
            Our goal is to create a minimalist tool that's easy to use. The purpose of Sourcely is to help people research topics, using Wikipedia as their starting point. </p>
        <p>
            Our future tasks include:</p>
        <p>
            -Adding accounts and saving sources.</p>
        <p>
            -Downloading saved sources.</p>
        <p>
            -Shortening summaries of Wikipedia pages.</p>
        <p>
            -Tweaking the look of the application.</p>
        <p>
            -Tightening the parsing algorithm.</p>
    </div>


    <footer class="container">
    <div class="d-flex justify-content-center"><%= link_to "Start Searching!", source_index_path %></div>
    <br>
    </footer>
    </div>
    </div>
    </div>
</html>