<%= stylesheet_link_tag "application" %>

<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8" />
<meta name="viewport"
      content="width=device-width, 
               initial-scale=1.0" />
<title>About Sourcely</title>
</head>

<%= render 'layouts/navbar' %>
<body>
<div class="container-fluid col-md-10" style="background-color:#eaf3ff">
    <div class="col-lg-5">
        <h1>About Sourcely</h1>
    </div>
    <div class="col-lg-16">
        <p>
            Our customers want a tool that parses the sources at the bottom of a Wikipedia page. We're working on adding the ability to save sources by using devise accounts. We're also cleaning up our parser and overall site layout.</p>
        <p>
            The tool should be minimalist in design and easy to use. The front page should have a large search bar to paste a Wikipedia link in. The next page should be a sortable table containing a list of sources from the user’s chosen Wikipedia article. Our primary users will be students and teachers. Our primary stakeholders could be anyone creating content sourced by Wikipedia articles, students, teachers, and schools/universities all as clients. The customers proposing the tool are also key stakeholders, as well as our team of developers. The proposed tool is not a citation machine. The proposed tool’s intended use case is to create a list of sources from the Wikipedia page, which can be visited and later cited - if used by the user. Theoretically, the tool should eliminate the need for parsing through Wikipedia sources.
        </p>
    </div>
        <footer class="container">
    <div class="d-flex justify-content-center"><%= link_to "Get Searching", source_index_path %></div>
    </footer>
</body>