<!DOCTYPE html>

<html>
    <body>
        <%= render 'layouts/navbar' %>
        <% if @sources %>
            <%= render 'layouts/sources-container' %>
        <% else %>
            <%= render 'layouts/faq' %>
        <% end %>
        <!-- <%= render 'layouts/saved' %> -->
    </body>
    <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p class="float-left"><a href="about">About Us</a></p>
    </footer>
</html>