<!DOCTYPE html>
<html>
    <div  style="background-color:lightgray; border:3px; border-style:solid; border-color:black">
        <h>title</h>
        <br>
        <br>
        <a>source</a>
        <br>
        <a>source</a>
        <br>
        <a>source</a>
    </div>
</html>