<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, 
                   initial-scale=1.0" />

    <% if @sources %>
    <title><%= @page.title %> Sources </title>
    <% end %>
  </head>

  <body class = "section">
  <div id="top">
  </div>
    <div class = "container-fluid">
      <%= render 'layouts/navbar' %>
      <% if @sources %>
          <center>
          <a href="#bottom">Scroll to Bottom</a>
          </center>
          <%= render 'layouts/sources-container' %>
          <%= render 'layouts/saved' %>
          <center>
          <a href="#top">Scroll to Top</a>
          </center>
      <% end %>
    </div>
    <br>
</html>