<!DOCTYPE html>

<html>
<body style="background-color:#BFBFBF;" >
    <div  style="background-color:#F5FAFF; margin: 1px 1px 1px 1px;">
        <div>
            <span><h1 class="text-center"><strong>Article Title</strong></h1><span>
            
        </div>
            <h2>Subtitle</h2><hr>
            <div style="margin: 1px 1px 5px 5px">
                <span><a href="#"><u>Source</u></a></span>    
                <button type="button" class="btn float-right ml-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-collection-fill" viewBox="0 0 16 16">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-collection-fill" viewBox="0 0 16 16">
                        <path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
                    </svg>
                </button>
            </div>
            <br>
            <div style="margin: 1px 1px 5px 5px">
                <span><a href="#"><u>Source</u></a></span>    
                <button type="button" class="btn float-right ml-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-collection-fill" viewBox="0 0 16 16">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-collection-fill" viewBox="0 0 16 16">
                        <path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
                    </svg>
                </button>
            </div>
            <br>
            <div style="margin: 1px 1px 5px 5px">
                <span><a href="#"><u>Source</u></a></span>    
                <button type="button" class="btn float-right ml-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-collection-fill" viewBox="0 0 16 16">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-collection-fill" viewBox="0 0 16 16">
                        <path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
                    </svg>
                </button>
            </div>
            <br>
            <h2>Subtitle</h2><hr>
            <div style="margin: 1px 1px 5px 5px">
                <span><a href="#"><u>Source</u></a></span>    
                <button type="button" class="btn float-right ml-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-collection-fill" viewBox="0 0 16 16">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-collection-fill" viewBox="0 0 16 16">
                        <path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
                    </svg>
                </button>
            </div>
            <br>
            <div style="margin: 1px 1px 5px 5px">
                <span><a href="#"><u>Source</u></a></span>    
                <button type="button" class="btn float-right ml-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-collection-fill" viewBox="0 0 16 16">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-collection-fill" viewBox="0 0 16 16">
                        <path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
                    </svg>
                </button>
            </div>
            <br>
            <div style="margin: 1px 1px 5px 5px">
                <span><a href="#"><u>Source</u></a></span>    
                <button type="button" class="btn float-right ml-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-collection-fill" viewBox="0 0 16 16">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-collection-fill" viewBox="0 0 16 16">
                        <path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
                    </svg>
                </button>
            </div>
            <br>
        <h2>Subtitle</h2><hr>
        <div style="margin: 1px 1px 5px 5px">
            <span><a href="#"><u>Source</u></a></span>    
            <button type="button" class="btn float-right ml-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-collection-fill" viewBox="0 0 16 16">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-collection-fill" viewBox="0 0 16 16">
                    <path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
                </svg>
            </button>
        </div>
        <br>
        <div style="margin: 1px 1px 5px 5px">
            <span><a href="#"><u>Source</u></a></span>    
            <button type="button" class="btn float-right ml-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-collection-fill" viewBox="0 0 16 16">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-collection-fill" viewBox="0 0 16 16">
                    <path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
                </svg>
            </button>
        </div>
        <br>
        <div style="margin: 1px 1px 5px 5px">
            <span><a href="#"><u>Source</u></a></span>    
            <button type="button" class="btn float-right ml-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-collection-fill" viewBox="0 0 16 16">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-collection-fill" viewBox="0 0 16 16">
                    <path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
                </svg>
            </button>
        </div>
        <br>
    <h2>Subtitle</h2><hr>
    <div style="margin: 1px 1px 5px 5px">
        <span><a href="#"><u>Source</u></a></span>    
        <button type="button" class="btn float-right ml-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-collection-fill" viewBox="0 0 16 16">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-collection-fill" viewBox="0 0 16 16">
                <path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
            </svg>
        </button>
    </div>
    <br>
    <div style="margin: 1px 1px 5px 5px">
        <span><a href="#"><u>Source</u></a></span>    
        <button type="button" class="btn float-right ml-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-collection-fill" viewBox="0 0 16 16">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-collection-fill" viewBox="0 0 16 16">
                <path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
            </svg>
        </button>
    </div>
    <br>
    <div style="margin: 1px 1px 5px 5px">
        <span><a href="#"><u>Source</u></a></span>    
        <button type="button" class="btn float-right ml-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-collection-fill" viewBox="0 0 16 16">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-collection-fill" viewBox="0 0 16 16">
                <path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
            </svg>
        </button>
    </div>
    <br>
    </div>
</body>
</html>