<%= stylesheet_link_tag "application" %>

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, 
                   initial-scale=1.0" />
    <title>Sourcely</title>
  </head>

  <body>
    <section>
      <br>
      <%= link_to "About Sourcely", source_about_path %>

      <br><br><br><br><br><br><br><br>
      <h1>Sourcely</h1>
      
<div class="form">  
<form>
  <label for="form-search"></label>
  <center>
  <input type="text" id="form-search" placeholder="(Wikipedia link)">
  </center>
</form>
</div>  
<div class= "buttons">  
<center>
<a href="source/home"> <input type="submit" value="Get Sources" id="google_search"></a>

      
</center>
</div>

</section>
  </body>
</html>