
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, 
                   initial-scale=1.0" />
                  
    <title>Sourcely</title>
    
  </head>

  <body>
    <section>
      <br>
      <center>
      <%= link_to "About", source_about_path %>
      </center>

      <br>
      <center>
      <h1>Sourcely</h1>
      </center>
 
      <%= render 'layouts/navbar' %>
      <% if @sources %>
      <%= render 'layouts/sources-container' %>
      <%= render 'layouts/saved' %>
      <br>
      <% end %>  

</section>
  </body>
</html>