

<%= link_to "About Us", source_about_path %>
</style>
<h1> Welcome to sourcely ! </h1>
<p> This is a goto place to find all our references </p>

<h1> <center> <font size="+10">   SOURCELY   </font> </h1></center>
<div class="form">  
<form>
  <label for="form-search"></label>
  <center>
  <input type="text" id="form-search" placeholder="enter your link for references">
  </center>
</form>
</div>  
<div class= "buttons">  
<center>
<a href="source/home"> <input type="submit" value="Search" id="google_search"></a>
      
</center>
</div>