<!DOCTYPE html>
<%= stylesheet_link_tag "application" %>
<html lang="en">

<head>
<meta charset="UTF-8" />
<meta name="viewport"
      content="width=device-width, 
               initial-scale=1.0" />
<title>Sign In</title>
</head>

<body class = "section">
<div class = "container-fluid">
<%= render 'layouts/navbar_not_index' %>
<center>
<div class = "container-fluid">
<h2>(Saved Sources Here)</h2>


</center>
</div>
</div>
</html>