/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import 'bootstrap';

.navbar-brand
{
  font-size: 30px;
}

.nav-item
{
  font-size: 20px;
}

body.section {
  
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #eeeeee, #afafaf);
    animation: animate 20s linear infinite;
  }

  #linkcolor a:visited {
    color: rgb(60, 36, 168);
  }

  html {
    scroll-behavior: smooth;
   }

   .flex-container {
    display: flex;
    justify-content: space-between;
  }

  .move-down {
    display: flex;
    align-self: center;
  }
